@charset "UTF-8";
fieldset.form-columns-1,
fieldset.form-columns-2,
fieldset.form-columns-3 {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100% !important;
}

fieldset.form-columns-1 input.hs-input,
fieldset.form-columns-2 input.hs-input,
fieldset.form-columns-3 input.hs-input {
  width: 100% !important;
}
.hs-form-96232551-19a8-4339-9781-26cd99ff390c_bd4a8e34-50dc-409b-926c-81a059e67a2d
  fieldset.form-columns-1
  .hs-input {
  width: 100% !important;
}
@media screen and (max-width: 712px) {
  .chooserBlock {
    /* display: none; */
  }
  .imageBlock img {
    height: auto;
    width: 100%;
    padding: 0px;
  }
  .job-deets {
    text-align: center;
  }
  .headerContain {
    display: block;
  }
  .button-box {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .wideTableDiv {
    display: none;
  }
  .disclaimer {
    margin: auto 1em;
    line-height: 1.5em;
    padding-bottom: 2.2em;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 1300px) {
  .headerContain {
    padding-left: 25px;
  }
}

.hs-input:not([type="checkbox"]):not([type="radio"]) {
  border: 1px solid #555;
}
.hs-button.primary.large {
  display: inline-block;
  max-width: 500px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.125em;
  letter-spacing: 0.225em;
  line-height: 3.125em;
  padding: 0 2.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1em;
  background-color: rgba(125, 190, 53, 0.75);
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
